<h2><%= @group_event.name %></h2>
<p><%= @group_event.description %></p>
<p><%= @group_event.location  %></p>
<p><%= @group_event.start_date  %></p>
<p><%= @group_event.end_date  %></p>
<p><%= @group_event.status  %></p>
